*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(248, 246, 243);
}
#nav{
    height: 70px;
    width:100%;
    /* background-color: blue; */
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-right: 2vw;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 6px;
    border-radius: 50%;
}
#upper h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    font-weight: 100;
    line-height: 1;
    padding-left: 5vw;
}
#middle{
    display:flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

}
#left {
    padding-left: 5vw;
    padding-top: 1.5vw;

}
#left h3{
    font-size: 1vw;
    font-weight: 100;
    line-height: 1.5;
}
#right{
    width: 30%;
    padding-right: 5vw;
} 
.elem{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding : 15px 0;
    border-top: 2px solid #000 ;
}
.elem a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.elem i{
    
    font-size: 1.7vw;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
#bottom{
    background-color: red;
    background-image: url(model.jpg);
    height: 35%;
    width: 100%;
    background-size: cover;
    background-position: 0 40%;

}
.n:hover h4{
    text-decoration:underline;
}
.elem:hover a{
    text-decoration:underline;
}
@media (max-width:600px) {
    #upper h1{
        padding: 6vw;
        font-size: 9vw;
    }
    #middle{
        display: block;
    
    }
    #left h3{
        text-align: justify;
        padding: 4vw;
        font-size: 4vw;
        font-weight: 100;
        line-height: 2;
    }
    #right{
        width: 100%;
        padding-right: 5vw;
        display: flex;
        justify-content:space-between;
    }
    .elem{
        background-color: #000;
        justify-content: none;
        border-radius: 20%;
        margin: 1vw;
        padding : 15px 0;
        border-top:0px;
    }
    .elem a{
        color: white; 
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        margin: 2vw;
    }
    .elem i{
        
        font-size: 1.7vw;
        opacity: 0;
    }
    .elem:hover i{
        opacity: 1;
    }
    #bottom{
        height: 40%;
    
    }
    .n:hover h4{
        text-decoration:underline;
    }
    .elem:hover a{
        text-decoration:underline;
    }
}    